/* barlow-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/barlow-v12-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --azul: hsl(220, 50%, 17%);
  --azul-claro: hsl(221, 23%, 58%);
  --cinza-claro: hsl(198, 28%, 93%);
  --branco: hsl(0, 0%, 100%);
  --espaco-pequeno: 24px;
  --espaco-medio: 64px;
  --espaco-grande: 120px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*todos os elementos tem o tamanho "verdadeiro".*/
}

body {
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
  color: var(--azul);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  max-width: 18ch;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.625;
  color: var(--azul-claro);
  max-width: 45ch;
  margin: 0;
}

p.descricaop {
  font-size: 1rem;
}

p.descricao {
  font-size: 1.4rem;
}

p.subdescricao {
  font-size: 1.2rem;
}

p+p {
  margin-top: 1rem;
}

p>strong {
  font-weight: 700;
}

strong.maiuscula {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

.button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625;
  text-transform: uppercase;
  padding: 11px 14px;
  border: 0;
  border-radius: 8px;
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
}

.button.branco {
  background-color: var(--cinza-claro);
  color: #044dbb;
}

.button.branco:hover {
  background-color: var(--azul);
  color: var(--branco);
}

.button.azul {
  background-color: var(--azul);
  color: var(--branco);
}

.button.azul:hover {
  background-color: #044dbb;
  color: var(--branco);
}

picture {
  border-radius: 20px;
  overflow: hidden;
  /*oculta o que ultrapassar as bordas*/
}

.grid-divisao {
  display: grid;
  grid-template-columns:
    4px repeat(3, calc((100% - 48px - 20px * 2) / 3)) 4px;
  column-gap: 20px;
  align-items: center;
  /*em display grid, essa propriedade sempre afeta na vertical*/
}

.topnav a {
  grid-column: 2;
}

.topnav button {
  grid-column: 3 / -2;
  justify-self: end;
}

.corpo {
  padding-block: var(--espaco-medio) var(--espaco-pequeno);
  row-gap: var(--espaco-medio);
}

.corpo-texto {
  grid-column: 2 / 8;
  display: grid;
  grid-template-columns: auto 1fr;
  /*divide em duas colunas, uma com tamanho automático e a outra com uma fração do espaço disponível*/
  grid-template-rows: repeat(3, auto);
  /*divide o grid em 3 linhas, com tamanho adaptativo aos elementos*/
  gap: 32px;
  align-items: center;
}

.corpo-texto>* {
  grid-column: 1 / -1;
}

.corpo-texto .button,
.corpo-texto .complemento {
  grid-column: span 1;
  /*ocupa apenas 1 coluna no grid de corpo-texto*/
}

.corpo-imagem img {
  height: 15rem;
  object-position: left center;
}

.bloco-de-detalhe {
  display: none;
  height: 240px;
  border-radius: 20px 0 0 20px;
  background-color: var(--cinza-claro);
}

.detalhes {
  row-gap: var(--espaco-medio);
  padding-block-start: var(--espaco-pequeno);
}

.detalhes-imagem {
  align-self: stretch;
}

.detalhes-imagem img {
  width: 100%;
  height: 100%;
}

.detalhes-imagem:nth-child(3) {
  grid-column: 3 / -2;
}

.detalhes-texto {
  grid-column: 2 / -2;
  text-align: left;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}

.servicos {
  row-gap: var(--espaco-grande);
  padding-block-start: var(--espaco-medio);
  /*adiciona preenchimento (espaço interno)
    no início do bloco em um elemento, no caso, é o espaço antes da seção de features.*/
}

.servico {
  grid-column: 2 / span 3;
  display: grid;
  justify-items: center;
  text-align: center;
}

.servico .icone {
  width: 4.0625rem;
  height: 4.0625rem;
  margin-block-end: 48px;
  background-color: #283e88;
  border-radius: 16px;
  display: grid;
  place-items: center;
}

.servico .icone img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.servico h3 {
  margin-block-end: 24px;
}

footer {
  text-align: center;
  padding-block-start: var(--espaco-grande);
}

footer>p {
  max-width: none;
}

/* 1200px */
@media (width >=75em) {
  :root {
    --espaco-grande: 160px;
  }

  body {
    padding-block: 55px;
  }

  .grid-divisao {
    display: grid;
    grid-template-columns:
      1fr repeat(12, calc((69.375rem - 30px * 11) / 12)) 1fr;
    gap: 30px;
  }

  .corpo-texto {
    grid-column: 2 / 8;
    column-gap: 32px;
  }

  .corpo-texto .complemento {
    justify-self: start;
  }

  .corpo-imagem {
    grid-column: 8 / -2;
    border-radius: 20px;
  }

  .corpo-imagem img {
    height: 30rem;
  }

  .bloco-de-detalhe {
    display: block;
    grid-column: -2 / -1;
    align-self: start;
  }

  .detalhes .bloco-de-detalhe {
    grid-column: 1 / 2;
    border-radius: 0 20px 20px 0;
    align-self: end;
  }

  .detalhes-imagem:nth-child(2) {
    grid-column: 2 / 5;
    border-radius: 20px;
  }

  .detalhes-imagem:nth-child(3) {
    grid-column: 5 / 10;
  }

  .detalhes-texto {
    grid-column: 10 / -2;
    flex-direction: column;
    /*define que os itens serão alinhados verticalmente, no caso a headline e a descrição*/
  }

  .servico,
  .servico:nth-child(even) {
    grid-column-start: auto;
  }

  .servico:nth-child(1) {
    grid-column-start: 2;
  }
}